span {
    color: white;
    font-weight: bold;
  }
  
  .footer {
    background-color: #052031;
    padding: 3em;
    text-align: center;
    color: white;
  }
  
  .social_list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .social_list li {
    margin: 0 1em;
    margin-top: 1.5em;
  }
  
  .social_list li:hover {
    color: #EF8E36;
  }
  
  .social_list a {
    color: inherit;
  }
  
  .social_list svg {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .copy_right {
    margin-top: 1.5em;
    font-weight: bold;
  }
/* Responsividade para celulares pequenos*/
@media screen and (max-width: 360px) {
  .footer {
    height: 11.5rem;
    margin-top: -1.4rem;
    width: 100%;
  }
  .footer span{
    font-size: 0.9rem;
  }
  .copy_right{
    font-size: 0.9rem;
  }
}
/* Responsividade para celulares acima dos pequenos*/
@media screen and (min-width: 360px) {
  .footer {
    height: 11.5rem;
    margin-top: -1.4rem;
    width: 100%;
  }
  .footer span{
    font-size: 0.9rem;
  }
  .copy_right{
    font-size: 0.9rem;
  }
}

/* Responsividade para desktop menores que 1366px*/
@media screen and (min-width: 1025px) and (max-width: 1366px) and (max-height: 768px){
  .footer {
    height: 16rem;
    padding-top: 4rem;
    width: 100%;
  }
  .social_list svg{
    height: 2rem;
    width: 2rem;
  }
  .footer span{
    font-size: 1.4rem;
  }
  .copy_right{
    font-size: 1.4rem;
  }
}

/* Responsividade para desktop mediana*/
@media screen and (min-width: 1440px){ 
  .footer {
    height: 16rem;
    padding-top: 4rem;
    width: 100%;
  }
  .social_list svg{
    height: 2rem;
    width: 2rem;
  }
  .footer span{
    font-size: 1.4rem;
  }
  .copy_right{
    font-size: 1.4rem;
  }
}